{% block content %}


<div class = "relative">
    <img src = "https://images.unsplash.com/photo-1610457622149-70501bfe6423?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class = "w-screen h-screen">
    <div class = "px-2 absolute  inset-y-1/2 inset-x-1/4">
        <div class="font-bold text-4xl">
            Brainy Blogs
        </div>
        <div class = "text-black text-xl py-3">
            This is a Blog Website Where you can read as well as create your own blogs
        </div>
        <div class = "text-black ">
            <div>
                Create Now Your Blog
            </div>
            <div class = "py-2">
                <a href = "{% url 'create' %}"><button type = "button" class = "px-6 py-2 font-bold rounded-full bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500">Create+</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}