
<main>
    <div class="bg-[#3A6073] px-12 py-12">
        <div class="text-center font-bold text-3xl text-white mb-6">Read Different Blogs</div>

        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for category in categories %}
            <a href="{% url 'category' category.id %}">
                <div class="rounded bg-white rounded text-center my-2 relative shadow-xl shadow-[#3A6073]-500/50">
                    <div class="flex justify-center items-center h-96">
                        <img src="{{ category.image }}" class="h-full object-contain" />
                    </div>
                    <div class="font-bold text-xl absolute bottom-3 left-4 right-3 bg-cyan-500 py-4 rounded opacity-80 shadow-lg shadow-cyan-500/50 hover:opacity-100 hover:bg-blue-500">
                        {{ category.name }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</main>
