{% block content %}

<footer class = "px-12 py-12 bg-[#363636] text-white flex justify-around  w-screen">
    <div>
        <div class = "py-4 text-gray-300">
<pre>
◉ brainyblog@gmail.com 
◉ 056-586-456  
</pre>
        </div>
        <div class= "text-gray-500">
            Copyright Ⓒ 2023 BrainyBlogs LLC. All Rights Reserved
        </div>
    </div>
    <div class = "flex py-4">
        <div class = "px-2">
            <img src = "https://cdn-icons-png.flaticon.com/512/1384/1384015.png" class = "w-8">
        </div>
        <div class = "px-2">
            <img src = "https://cdn-icons-png.flaticon.com/512/739/739257.png" class = "w-8">
        </div>
        <div class = "px-2">
            <img src = "https://seeklogo.com/images/F/facebook-logo-264A8EFBA1-seeklogo.com.png" class = "w-8">
        </div>
        
</footer>

{% endblock %}